
*
{
margin:0px;
}
body {
        background-image: url("pageno1.jpg");
        background-size: cover;
        color: rgb(10, 10, 10);
    } 
	


.nav {
      height:80px;
      width:100%;
      background:green;
     color:white;
}
.logo img{
  height: 80px;
  filter: invert(100%);

}
.nav ul li {
list-style-type:none;
float:left;
text-align:center;
}



.nav li a:hover{
  background-color: rgb(20, 20, 20);
  color:  white;
  font-weight: bolder;
  cursor: pointer;
}
.nav ul li a
{
color:white;
font-size:40px;
text-decoration:none;
padding-left:170px;

padding-right:170px;
padding-top:10px;
padding-bottom:10px;




}

.section  a {
text-decoration:none;
padding-left:180px;
padding-right:180px;
}

.button1:hover{
	background-color:lightblue;
	font-weight:bolder;
	cursor:pointer;
}
.button2:hover{
	background-color:lightblue;
	font-weight:bolder;
	cursor:pointer;
}


.a {
	text-decoration:none;
}

.test{
	color:black;
	text-align:center;
	font-size:30px;
}

.title{
	margin-bottom:50px;
}
.button1{
	margin-bottom:50px;
}

.button2{
	margin-bottom:50px;
}

.bottom{
	text-decoration:none;
	font-size:30px;
	color:GrayText;
	text-align:center;
	margin-top:30px;
}
.img{
	opacity:0.7;
	border-radius:50%;

}





















